.pdf-reader-wrap {
    position: relative;
    transform: translateZ(0);
    background-color: #eee;
}

.pdf-page-wrap {
    border: 1px solid #eee;
}

.pdf-reader-toolbar {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    height: 48px;
    background-color: #f5f5f5;
    user-select: none;
}

.pdf-reader-toolbar .action-disable {
    color: #ddd;
    cursor: not-allowed;
}

#pdf-reader-wrap {
    transform-origin: left top;
    transform: scale(1);
}
